<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <h1>Authentication Successful</h1>

    <h2 th:text="'Welcome ' + ${username}"></h2>
    <h3>Your Role:</h3>

    <p th:text="${role}"></p>

    <hr>

    <a href="/user">User Page</a>

    <br><br>

    <a href="/admin">Admin Page</a>
    <p>

        You have successfully logged into the application.

    </p>

    <hr>

    <a href="/gateway">API Gateway</a>

    <br>

    <a href="/">Logout</a>
/
</div>

</body>

</html>