<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Authentication System</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <h1>🔐 Authentication System</h1>

    <p>Secure Login Portal</p>

    <form action="/login" method="post">

        <input
                type="text"
                name="username"
                placeholder="Username"
                required>

        <input
                type="password"
                name="password"
                placeholder="Password"
                required>

        <button type="submit">
            Login
        </button>

    </form>

    <div class="divider">
        <span>OR</span>
    </div>

    <a class="keycloak-btn"
       href="/oauth2/authorization/keycloak">
        Login with Keycloak
    </a>

    <br><br>

    <a href="/register">
        Create New Account
    </a>

    <p class="message" th:if="${param.error}">
        Invalid username or password.
    </p>

    <p class="success" th:if="${param.registered}">
        Registration successful! Please login.
    </p>

    <p class="message" th:text="${message}"></p>

</div>

</body>

</html>